/* Styles */
body {
    background-color: cadetblue;
    font-family:'Roboto Mono', monospace;
    font-size: 20px;
}
h1 {
    color: #5f4b8b;
    display: block
    padding-top: 7.5%;
    padding-bottom: 7.5%;
}