/* Styles */
#page1 body {
    background-color:#F7F6F4;
    font-family:'Roboto Mono', monospace;
    font-size: 20px;
}
h1 {
    color:#C1666B;
    display: block
    padding-top: 7.5%;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;

}

#page1 div p {
    padding-top: 60px;
    padding-right: 5px;
}
#grid {
    font-size: 18px;
    
    
}
#img_box{
    background-image: url("../img/topography.png");
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    margin-left: 0%;
    
    
}

#intro{
    font-family:'Roboto Mono', monospace;
    font-size: 20px;
}
.nav{
    padding: 1px;
    width: 80px;
    display: inline;
    font-size: 16;
    color: #D4B483;
    text-align: center;
    margin-top: 20px;
    

}
hr{
    padding-bottom: 1%;
}
#page2 body {
    background-color:#F7F6F4;
    font-family:'Roboto Mono', monospace;
    font-size: 20px;
}